body{
background-image: url(peakpx.jpg);
background-size: cover;
}
header{
    background-color: #3b121294;
}
nav{
    max-width: 900px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.781);
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: rgba(0, 0, 0, 0.774);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}
.menu-vertical li a{
display: block;
color: white;
padding: 15px 15px 15px 20px;
text-decoration: none;
}



.menu-vertical > li:hover{
    background-color: rgba(0, 0, 0, 0.774);
}
.menu-horizontal2{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-vertical li:hover .menu-horizontal2{
    display: block;
}

.menu-horizontal2 > li:hover{
    background-color: rgba(0, 0, 0, 0.774);
}
.menu-vertical2{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-horizontal2 li:hover .menu-vertical2{
    display: block;
}

.menu-horizontal > li {
    float: left;
}
.menu-horizontal li ul li {
    position: relative;
}
.menu-horizontal li ul li ul {
    right: -240px;
    top: 0px;
}